<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/aop
     	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
     	
<!-- *********************************** 微信消息处理 ******************************************* -->
    <bean id="basicProcess" class="org.charles.wechat.basic.BasicProcess">
		<property name="handle" ref="subscribeEventHandler"></property>
	</bean>
	
    <bean id="subscribeEventHandler" class="org.charles.wechat.handler.SubscribeEventHandler">
		<property name="next" ref="textMsgHandler"></property>
	</bean>
    <bean id="textMsgHandler" class="org.charles.wechat.handler.TextMsgHandler">
    	<property name="stockAnalysisManage" ref="baseAnalysisManage"></property>
	</bean>
	
	
<!--***************************************** 分析器业务 ***************************************** -->	
	<!-- 机构数目分析 -->
	<bean id="organizationNumAnalysis" class="org.charles.app.analysis.impl.OrganizationNumAnalysis">
		<property name="stockAnalysisDao" ref="stockAnalysisDao"></property>
	</bean>
	<!-- 创新高且上榜的股票 -->
	<bean id="newTopBoardAnalysis" class="org.charles.app.analysis.impl.NewTopBoardAnalysis">
		<property name="stockAnalysisDao" ref="stockAnalysisDao"></property>
	</bean>
	<!-- 向上突破且上榜的股票 -->
	<bean id="breakThroughBoardAnalysis" class="org.charles.app.analysis.impl.BreakThroughBoardAnalysis">
		<property name="stockAnalysisDao" ref="stockAnalysisDao"></property>
	</bean>
	
	<!-- 龙虎榜分析管理 -->
	<bean id="baseAnalysisManage" class="org.charles.app.analysis.impl.BaseAnalysisManage">
		<property name="analysisList">
      		<list>
      			<ref bean="organizationNumAnalysis" />
      			<ref bean="newTopBoardAnalysis" />
      			<ref bean="breakThroughBoardAnalysis" />
      		</list>
      </property>
	</bean>
	
</beans>
